@model IEnumerable<ProductCardResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <div class="card">

                <img src="@product.ImageUrl" class="card-img-top img-thumbnail" />
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">@product.Description </p>
                    <p class="card-text">@product.Price yerine, @(product.Price * (1 - product.DiscountRate)) TL </p>
                    <button class="btn btn-dark">Sepete Ekle</button>
                </div>

            </div>
        </div>
    }
</div>